<footer>
Made by&nbsp;
<a href="https://dearmycode.tistory.com/" target="_blank">Dear.my code</a>
<p>Node.js 교과서 개정2판 실습</p>
</footer>

</div>


</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

window.onload = () => {
if (new URL(location.href).searchParams.get('loginError')) {
alert(new URL(location.href).searchParams.get('loginError'));
}
};
</script>

</body>
</html>