<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 가입 페이지</title>
  </head>
  <body>
    <h1>회원가입 페이지</h1>
    <form action="/auth/join" method="POST">
      <label>
        이메일
        <input type="email" name="email" />
      </label>
      <label>
        비밀번호
        <input type="password" name="password" />
      </label>
      <label>
        닉네임
        <input type="text" name="nick" />
      </label>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>