<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="container">
  <!-- 콘텐츠 내용 삽입 영역 -->
  <%- body%> 
</div>

<footer>
  Made by&nbsp;
  <a href="https://www.zerocho.com" target="_blank">ZeroCho</a>
</footer>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- 콘텐츠 페이지내 스크립트 코드 삽입 영역 -->
  <%- script%>
</body>
</html>