<% include ./header %>

    <div class="timeline">
      <div class="followings half">
        <h2>팔로잉 목록</h2>
        <% if(user.Followings){ %>
          <% for(var i=0; i < user.Followings.length; i++){ %>
            <div>
              <%=user.Followings[i].nick%>
            </div>
            <% } %>
              <% } %>
                <!-- if문 끝 -->
      </div>
      <div class="followers half">
        <h2>팔로워 목록</h2>
        <% if(user.Followers){ %>
          <% for(var j=0; j < user.Followers.length; j++){ %>
            <div>
              <%=user.Followers[j].nick%>
            </div>
            <% } %>
              <% } %>
      </div>
    </div>

<% include ./footer %>