

    <div class="timeline">
      <div class="followings half">
        <h2>팔로잉 목록</h2>
        <% if(user.Followings){ %>
          <% for(following=0; following < user.Followings.length; following++){ %>
            <div>
              <%=following.nick%>
            </div>
            <% } %>
              <% } %>
                <!-- if문 끝 -->
      </div>
      <div class="followers half">
        <h2>팔로워 목록</h2>
        <% if(user.Followers){ %>
          <% for(follower=0; follower < user.Followers.length; follower++){ %>
            <div>
              <%=follower.nick%>
            </div>
            <% } %>
              <% } %>
      </div>
    </div>
